.partners{
  padding-top: 20px;
  padding-bottom: 20px;
  .partnerTitle{
    h2{
      text-align: center;
      color: #001D3D;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 10px;
    }

  }
}