@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');


$primary:   #001D3D;
$btn-color: #001D3D;
$btn-border-radius:  0px;

$font-family-base:'Poppins', sans-serif;


