.sectorSection{
  background: #F6F6F6;
  padding-top: 40px;
  padding-bottom: 120px;
  margin-bottom: 40px;
  h2{
    color: #001D3D;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  p{
    color: #001D3D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.sectorCard{
  margin-top: -140px;
  text-align: center;
  margin-bottom: 100px;
  h4{
    font-weight: 600;
    color: #001D3D;
    font-size: 20px;
    padding-top: 20px;
  }
}